#FOod {
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
color: white;
}

.Lasagna { background-color: red;

}

.Cake {

    background-color: purple;
    
}

.Burger{

    background-color: green ;
    
}