ul li {
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    
color: white;
}

.Lasagna { background-color: red;

}

.Cake {

    background-color: purple;
    
}

.Burger{

    background-color: green ;
    
}